# For argument parsing and CLI
typer[all]
# For pretty printing
rich
# For web scraping and XML parsing
beautifulsoup4
lxml
# For HTTP requests
requests
# For reStructuredText parsing
docutils
# For reStructuredText pretty printing
rich-rst
# For parsing version numbers (should already be installed with setuptools but just in case)
packaing