# For argument parsing and CLI
typer[all]==0.6.0
# For pretty printing
rich
# For choosing a link with the browse command
questionary
# For human readable information
humanize
# For web scraping and XML parsing
beautifulsoup4
lxml
# For HTTP requests
requests
# For fuzzy string matching
thefuzz
# For reStructuredText pretty printing
rich-rst
# For colored help command
rich-click
# For parsing version numbers
packaging