# For argument parsing and CLI
typer[all]
# For pretty printing
rich
# For choosing a link with the browse command
questionary
# For human readable information
humanize
# For web scraping and XML parsing
beautifulsoup4
lxml
# For HTTP requests
requests
# For reStructuredText pretty printing
rich-rst
# For colored help command
click-help-colors
# For parsing version numbers
packaging